q {
quotes: "\00Ab" "\00BB" "\201C" "\201D" "\2018" "\2019";
}
main{
counter-reset: en2;
}
article {
counter-increment: en2;
}
h2::before {
counter-reset: en3;
content: counter(en2)+'. ';
}
h3::before {
counter-increment: en3;
counter-reset: en4;
content: counter(en2)+'.'+counter(en3)+'. ';
}
h4::before {
counter-increment: en4;
counter-reset: en5;
content: counter(en2)+'.'+counter(en3)+'.'+counter(en4)+'. ';
}
h5::before {
counter-increment: en5;
counter-reset: en6;
content: counter(en2)+'.'+counter(en3)+'.'+counter(en4)+'.'+counter(en5)+'. ';
}
h6::before {
counter-increment: en6;
content: counter(en2)+'.'+counter(en3)+'.'+counter(en4)+'.'+counter(en5)+'.'+counter(en6)+'. ';
}